html, body {
	height: 100%;
}

body {
	background-color: #222;
	margin: 0;
	color: white;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 13px;
}

.container {
	width: calc(100% - 20px);
	height: calc(100% - 60px);
	position: absolute;
	top: 40px;
	left: 10px;
}

#info {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.66);
	color: white;
}

#upload {
	position: absolute;
	top: 10px;
	left: 10px;
}